<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
        <body>
            {{> header}}
            <p>The projects are listed here.</p>

            {{> footer}}
        </body>
    </head>
</html>